@import 'normalize.css';

:root {
	--font-body: Georgia, 'Times New Roman', serif;
	--font-math: 'STIX Two Math', 'Times New Roman', serif;
	--font-mono: 'Courier New', monospace;

	--text-color: #000;
	--bg-color: #fff;
	--link-color: #0000ee;
	--link-visited: #551a8b;

	--max-width: 650px;
	--line-height: 1.6;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font-body);
	font-size: 16px;
	line-height: var(--line-height);
	color: var(--text-color);
	background: var(--bg-color);
	margin: 0;
	padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.2em;
}

p {
	margin-bottom: 1em;
}

a {
	color: var(--link-color);
	text-decoration: underline;
}

a:visited {
	color: var(--link-visited);
}

ul,
ol {
	margin-bottom: 1em;
	padding-left: 2em;
}

li {
	margin-bottom: 0.5em;
}

hr {
	border: none;
	border-top: 1px solid #ccc;
	margin: 2em 0;
}

/* Math styling */
.math {
	font-family: var(--font-math);
}

code {
	font-family: var(--font-mono);
	font-size: 0.9em;
}

/* Remove all the custom styling */
::selection {
	background: #b3d4fc;
	color: #000;
}
